workflows/ci-cd/github-pr-slack-notification.json
{
  "name": "GitHub PR → Slack Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "name": "Is PR Opened?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "channel": "#engineering",
        "text": "=🔀 *New PR:* <{{ $json.pull_request.html_url }}|{{ $json.pull_request.title }}>\n*Author:* {{ $json.pull_request.user.login }}\n*Repo:* {{ $json.repository.full_name }}\n*Branch:* `{{ $json.pull_request.head.ref }}` → `{{ $json.pull_request.base.ref }}`\n*Files Changed:* {{ $json.pull_request.changed_files }}",
        "otherOptions": {}
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [690, 200],
      "credentials": {
        "slackApi": { "id": "SLACK_CREDENTIAL_ID", "name": "Slack API" }
      }
    },
    {
      "parameters": {},
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [690, 400]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Is PR Opened?", "type": "main", "index": 0 }]
      ]
    },
    "Is PR Opened?": {
      "main": [
        [{ "node": "Slack Notification", "type": "main", "index": 0 }],
        [{ "node": "No Action", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["ci-cd", "github", "slack", "notifications"]
}
